// Body
$body-bg: #f8fafc;
$verde1: #133D4A;
$rojo1: #c33;
$rosa1: #BF355F;
$morado1: #6e1d56;
$morado2: #42061C;
$rosa2:#84143C;
$rosa3:#BA195A;

$danger: #CE0E2D;
$light: #D6E0E4;
$warning: $morado1;
$primary:$morado2;
$morado3:#641a39;