// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Variables
@import "variables";

@import "fonts";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@keyframes balon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#img-logo {
    width: 133px;
    @include media-breakpoint-down(lg) {
        width: 100px;
    }
}
.ultimo-registro {
    text-align: left;
    color: #fff;
    width: 100%;
    display: block;
    font-size: 18px;
   
    @include media-breakpoint-down(md) {
        position: absolute;
        top: 50px;
        left: 32px;
        right: 32px;
        width: auto;
    }
    @media (max-width: 360px) {
        top: 32px;
        font-size: 14px;
    }
}
@mixin balon {
    animation: balon infinite 3s linear;
    background-image: url("/public/img/balon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.bg-luz {
    .bg {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -3;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background: radial-gradient(
                circle,
                rgb(112, 102, 55) 0%,
                rgb(112, 102, 55) 1%,
                $morado3 65%,
                #000 100%
            );
            /*background: radial-gradient(
                ellipse at center,
                $morado3 0%,
                $morado3 10%,
                yellow 20%,
                $morado3 25%,
                rgba(0, 0, 0, 0.76) 95%,
                rgba(0, 0, 0, 0.8) 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
    .bg::before {
        content: "";
        width: 100%;
        height: 100%;
        background: $morado1;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
    @keyframes sf-fly-by-1 {
        from {
            transform: translateZ(-600px);
            opacity: 0.5;
        }
        to {
            transform: translateZ(0);
            opacity: 0.5;
        }
    }
    @keyframes sf-fly-by-2 {
        from {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }
        to {
            transform: translateZ(-600px);
            opacity: 0.5;
        }
    }
    @keyframes sf-fly-by-3 {
        from {
            transform: translateZ(-1800px);
            opacity: 0.5;
        }
        to {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }
    }
    .star-field {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 600px;
        -webkit-perspective: 600px;
        z-index: -1;
    }
    .star-field .layer {
        box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4,
            -387px -477px yellow, -91px -235px #d4d4d4, 491px -460px #89521b,
            892px -128px #89521b, 758px -277px #ededed, 596px 378px #cccccc,
            647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0,
            679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed,
            81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8,
            -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
            440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px yellow,
            -384px 369px #e3e3e3, 641px -413px yellow, 822px 516px #dbdbdb,
            449px 132px #c2c2c2, 727px 146px #89521b, -315px -488px #e6e6e6,
            952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede,
            764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3,
            -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2,
            -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9,
            714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede,
            468px -265px yellow, 74px -500px #c7c7c7, -514px 383px #dbdbdb,
            730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
            828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0,
            758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1,
            608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #89521b,
            459px 533px yellow, 624px -481px #e6e6e6, 790px 477px #dedede,
            731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf,
            -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1,
            774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede,
            313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4,
            -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede,
            -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0,
            795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2,
            -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4,
            -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #89521b,
            47px -495px #e3e3e3, -383px 368px #89521b, 419px 288px #d1d1d1,
            -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke,
            -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4,
            759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 4px;
        width: 4px;
        border-radius: 2px;
    }
    .star-field .layer:nth-child(1) {
        animation: sf-fly-by-1 3s linear infinite;
    }
    .star-field .layer:nth-child(2) {
        animation: sf-fly-by-2 3s linear infinite;
    }
    .star-field .layer:nth-child(3) {
        animation: sf-fly-by-3 3s linear infinite;
    }
}
body {
    font-family: "Rams-Regular";
    padding-top: 96px;
    @include media-breakpoint-down(lg) {
        padding-top: 56px;
    }
}
.balon {
    @include balon;
    width: 110px;
    height: 110px;
}

.inicio {
    text-align: center;
    color: #fff;
    background-image: url("/public/img/bg-aficionados.jpg");
    min-height: 80vh;
    background-size: cover;
    background-position: center 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 80vh;
    padding: 40px 0 60px;
    .contenedor-inicio {
        position: relative;
        .balon {
            position: absolute;
            left: 5%;
        }

        @include media-breakpoint-down(lg) {
            .balon {
                width: 60px;
                height: 60px;
            }
        }
    }
}

nav {
    &.menu-qatar {
        background-color: $verde1;
        font-size: 24px;
        font-family: "Rams-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
    }

    @include media-breakpoint-down(lg) {
        ul.navbar-nav {
            text-align: center;
            li.nav-item {
                border: solid 1px $rosa1;
                margin: 10px 20px;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &.menu-qatar {
            font-size: 12px;
            ul.navbar-nav {
                li.nav-item {
                    position: relative;
                    height: 80px;
                    display: flex;
                    align-items: center;

                    &:last-child {
                        padding-right: 0;
                    }

                    & + li.nav-item {
                        padding-left: 32px;

                        &::before {
                            content: "";
                            width: 1px;
                            height: 16px;
                            background-color: #fff;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            left: 16px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    color: #fff;

    a {
        color: inherit !important;
        text-decoration: none;
    }

    label {
        display: block;
        font-family: Rams-Bold, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.9px;
        margin-bottom: 10px;
    }

    .footer-gris {
        background-color: $verde1;
        padding: 40px 0;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    .footer-rojo {
        background-color: $rojo1;
        padding: 30px 0;
        font-size: 0.875rem;
        font-family: Roboto, sans-serif;
        letter-spacing: 0.02187rem;

        small {
            font-size: 10px;
        }
    }

    .list-links {
        a {
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 2.67;
            letter-spacing: 0.0625rem;
        }
    }

    .footer-logos {
        img {
            width: 88px;
        }
    }
}

.premios {
    font-family: "Rams-Regular";
    padding: 60px 0;
    //background-image: url("/public/img/bg-premios.jpg");
    background-size: 100% auto;
    background-position: top center;
    min-height: 72vh;
    .informacion {
        color: #fff;
    }
    a {
        text-decoration: none;
    }
    .ticket {
        opacity: 0;
        background-color: rgba(100, 100, 100, 0.4);
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-size: 60% auto;
        background-repeat: no-repeat;
        z-index: 1;
        overflow: hidden;
        height: 100%;
        background-position: center;
        pointer-events: none;
    }

    #formulario-premio {
        position: relative;
        transition-duration: 1;
        &.show-ticket-1 {
            background-color: rgba(255, 255, 255, 0.8);
            .ticket {
                opacity: 1;
                transition-duration: 1s;
                pointer-events: all;
                background-image: url("/public/img/folio.png");
            }
        }
        &.show-ticket-2 {
            background-color: rgba(255, 255, 255, 0.8);
            .ticket {
                opacity: 1;
                transition-duration: 1s;
                pointer-events: all;
                background-image: url("/public/img/corrida.png");
            }
        }
        @include media-breakpoint-down(lg) {
            margin-top: 50px;
        }
    }

    .label-item {
        position: relative;
        display: block;
        button {
            border-radius: 50%;
            width: 22px;
            height: 22px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            display: block;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            color: #fff;
            background-color: $morado1;
            border: none;
            line-height: 24px;
        }
    }
    .canje {
        position: relative;
        background-color: white;
        background-clip: border-box;
        border-radius: 6px;
        overflow: hidden;
        padding: 50px 32px 70px;
        @include media-breakpoint-down(lg) {
            margin-top: 50px;
        }
        h2 {
            margin-bottom: 50px;
            font-family: "Rams-Bold";
            font-size: 22x;
        }
        .text-secondary {
            font-family: "Rams-Bold";
        }

        .loading {
            max-width: 150px;
            width: 80%;
            height: 10px;
            margin: auto;
            margin-top: 30;
            border: solid 1px $morado1;
            &::after {
                background-color: $morado1;
                width: 1%;
                content: "";
                display: block;
                height: 100%;
                animation: loading 50s 1s linear;
            }

            @keyframes loading {
                0% {
                    width: 1%;
                }

                10% {
                    width: 100%;
                }
                100% {
                    width: 100%;
                }
            }
        }

        .bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            canvas {
                width: 100%;
            }
        }
    }
}

.centros {
    color: #fff;
    // /background-image: url("/public/img/centros-bg.jpg");
    background-size: 100% auto;

    .wrapper {
        overflow: hidden;
    }

    .table {
        background-color: rgba($rosa3, 0.7);
        color: #fff;
        @include media-breakpoint-down(md) {
            font-size: 10px;
        }
        tbody {
            border: solid 2px $rosa3;
            td,
            tr {
                border-color: #fff;
            }
        }
    }
}

.preguntas,
.bases {
    color: #fff;
    //background-image: url("/public/img/centros-bg.jpg");
    background-size: 100% auto;

    .wrapper {
        overflow: hidden;
    }
}

.table {
    .table-primary {
        border-color: $primary;
        & > * > * {
            background-color: $primary;
            color: #fff;
        }
    }
}

.bases {
    .contenido-bases {
        color: #000;
        padding: 50px;
        background-color: rgba($light, 0.8);
        @include media-breakpoint-down(sm) {
            padding: 50px 32px;
            .table {
                font-size: 8px;
            }
        }
    }
}
.text-justify {
    text-align: justify !important;
}
.titulo-balon {
    text-align: center;
    padding: 16px;
    background-color: #ef1330;
    position: relative;
    font-family: "Rams-Bold";
    font-weight: 700;
    font-size: 36px;
    background-image: url("/public/img/textura.jpg");
    background-size: auto 185%;
    background-position: top;
    color: #fff;
    min-height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        @include balon;
        content: "";
        position: absolute;
        width: 110px;
        height: 110px;
        right: -60px;
        bottom: -26px;
    }
    @include media-breakpoint-down(md) {
        &::after {
            width: 60px;
            height: 60px;
            right: -15px;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
}

.aficionados {
    background-image: url("/public/img/aficionados.png");
    height: 200px;
    background-position: center center;
    background-size: auto 100%;
    position: relative;

    &::before {
        //content: "";
        position: absolute;
        @include balon;
        right: 0;
        left: 0;
        width: 110px;
        height: 110px;
        bottom: 0;
        top: 0;
        margin: auto;
    }
}

.mecanica {
    .aficionados {
        background-color: #fff;
    }
    .intro {
        min-height: 80vh;
        position: relative;
        text-align: center;
        color: #fff;
        overflow: hidden;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0 50px 0;
        .logo-mexico {
            img {
                width: 150px;
                margin-top: -50px;
            }
        }
        @include media-breakpoint-down(md) {
            min-height: 90vh;
            .logo-mexico {
                img {
                    width: 100px;
                    margin-top: -0px;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            min-height: 95vh;
            padding-bottom: 0;
        }
    }

    .info-mecanica {
        color: #fff;
        //background-image: url("/public/img/destellos.png");
        background-repeat: no-repeat;
        background-position: -3% center;
        background-attachment: fixed;
        background: radial-gradient(
            circle,
            rgba(100, 26, 57, 1) 0%,
            rgba(100, 26, 57, 0.19931722689075626) 50%
        );
        .container-fluid > div {
            min-height: 85vh;
        }

        h2 {
            text-align: center;
            font-family: "Rams-Black";
            font-weight: 700;
            font-size: 36px;
            line-height: 38px;
        }

        .items {
            align-items: flex-end;
            text-align: center;
            padding-top: 50px;
            .col {
                position: relative;
                padding: 0 32px 150px 32px;
                transition-duration: 0.5s;
                &:hover {
                    transform: scale(1.1);
                }
                span {
                    font-size: 34px;
                    font-family: "Rams-Bold";
                    font-weight: 700;
                    top: 16px;
                }

                img {
                    display: inline-block;
                }

                p {
                    font-family: "Rams-Regular";
                    position: absolute;
                    padding-top: 30px;
                    height: 100%;
                    font-size: 18px;
                    display: block;
                    width: 100%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    padding: 0 50px;
                }

                @include media-breakpoint-down(lg) {
                    padding: 50px 0 50px 0;

                    p {
                        width: 100%;
                        position: initial;
                        max-width: 600px;
                    }

                    span {
                        position: initial;
                    }

                    img {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.increibles {
    padding: 100px 0;
    font-family: "Rams-Regular";
    background-color: #fff;
    h2 {
        font-family: "Rams-Bold";
        font-weight: 700;
        font-size: 36px;
        line-height: 38px;
        color: #68102e;
        text-align: center;
    }
}

.lista-preguntas {
    display: block;
    background-color: rgba($rosa2, 0.7);
    padding: 32px 0 0 0;

    .accordion-item {
        display: block;
        padding: 36px 0 0 0;
        border: none;
        background-color: transparent;
        .accordion-header .accordion-button {
            padding: 16px 28px;
            background-color: $rosa3;
            font-family: "Rams-Bold";
            font-weight: 700;
            font-size: 20px;
            line-height: 21px;
            letter-spacing: -0.0961437px;
            color: #ffffff;
            border-radius: 0;
            box-shadow: none !important;
        }
        .accordion-body {
            padding: 28px;
            font-family: "Rams-Regular";
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #ffffff;
        }
    }
}

.contactanos-links {
    font-family: "Rams-Bold";
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;

    .red {
        color: #ef1330;
    }

    a {
        display: block;
        color: inherit;
        text-decoration: none;
        font-family: "Rams-Regular";
        font-weight: 400;
    }
}

.registro {
    //background-image: url("/public/img/bg-registro.jpg");
    background-position: center;
    background-size: 100% auto;
    padding: 50px 0;
    background-repeat: no-repeat;
    * {
        user-select: none;
      }
      *::selection {
        background: none;
      }
      *::-moz-selection {
        background: none;
      }
    //background-color: #a5949c;
    .formulario {
        //background-image: url("/public/img/centros-bg.jpg");
        padding: 60px 50px 100px;
        color: #fff;
        font-family: "Rams-Regular";
        background-size: auto 100%;
        position: relative;
        background: radial-gradient(
            circle,
            rgba(100, 26, 57, 0.9) 0%,
            rgba(100, 26, 57, 0.4) 50%
        );
        &::before {
            position: absolute;
            width: 100%;
            height: 100px;
            content: "";
            background-image: url("/public/img/aficionados.png");
            bottom: 0;
            left: 0;
            background-size: 100% auto;
            z-index: 0;
            background-repeat: no-repeat;
            background-position: bottom center;
        }
        .form-control {
            background-color: transparent;
            background: transparent;
            color: #fff;
            border-width: 2px;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
        .formulario {
            padding: 32px 32px 75px;
        }
    }
}

#cpassword,
#cpassword2 {
    .btn-hide {
        display: none;
    }
    .btn-show {
        display: inline-block;
    }
    &.show-password {
        .btn-hide {
            display: inline-block;
        }
        .btn-show {
            display: none;
        }
    }
}

.passwords {
    padding: 50px 0;
    //background-image: url("/public/img/bg-premios.jpg");
    background-size: 100% auto;
    display: flex;
    min-height: 72vh;
    align-items: center;
    background-position: center;
    padding: 50px 0;
    .card {
        border: 0;
        opacity: 0.9;
        .card-header {
            background-color: $rosa3;
            color: #fff;
        }
    }
}
