@font-face {
    font-family: Rams-Bold;
    src: url(../fonts/a363df433feb6745d0976eaf505209f0.eot);
    src: url(../fonts/a363df433feb6745d0976eaf505209f0.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/a363df433feb6745d0976eaf505209f0.woff2) format("woff2"), 
    url(../fonts/a363df433feb6745d0976eaf505209f0.woff) format("woff"), 
    url(../fonts/a363df433feb6745d0976eaf505209f0.ttf) format("truetype")
}

@font-face {
    font-family: Rams-Light;
    src: url(../fonts/2aad09496a2386c0c16186d7f036a195.eot);
    src: url(../fonts/2aad09496a2386c0c16186d7f036a195.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/2aad09496a2386c0c16186d7f036a195.woff2) format("woff2"), 
    url(../fonts/2aad09496a2386c0c16186d7f036a195.woff) format("woff"), 
    url(../fonts/2aad09496a2386c0c16186d7f036a195.ttf) format("truetype")
}

@font-face {
    font-family: Rams-Regular;
    src: url(../fonts/83d52164c3fbf7269e87fb7bb5e84973.eot);
    src: url(../fonts/83d52164c3fbf7269e87fb7bb5e84973.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/83d52164c3fbf7269e87fb7bb5e84973.woff2) format("woff2"), 
    url(../fonts/83d52164c3fbf7269e87fb7bb5e84973.woff) format("woff"), 
    url(../fonts/83d52164c3fbf7269e87fb7bb5e84973.ttf) format("truetype")
}

@font-face {
    font-family: Rams-Black;
    src: url(../fonts/ef37d5a2aade0e1cb69df8d3f5f2aa60.eot);
    src: url(../fonts/ef37d5a2aade0e1cb69df8d3f5f2aa60.eot?#iefix) format("embedded-opentype"),
    url(../fonts/ef37d5a2aade0e1cb69df8d3f5f2aa60.woff2) format("woff2"), 
    url(../fonts/ef37d5a2aade0e1cb69df8d3f5f2aa60.woff) format("woff"), 
    url(../fonts/ef37d5a2aade0e1cb69df8d3f5f2aa60.ttf) format("truetype")
}