<template>
     <div class="row">
        <div class="col-auto" id="captcha">
            <img v-bind:src="captcha" alt="captcha">
        </div>
        <div class="col"> 
            <button type="button" class="btn btn-success" @click="reload">
                &#x21bb;
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                captcha: ''
            }
        },
        mounted() {
            this.reload();
        },
        methods: {
            reload() {
                axios.get('/api/captcha').then(({ data }) => {
                    this.captcha = data.captcha;
                }).catch((err) => console.error(err));
            },
        },
    }
</script>
